@import "globals";

#objectives-table {
    /* Zebra-striped table */
    tr:nth-child(even) {
        background-color: #FFD9F2; /* pink */
    }

    tr:nth-child(odd) {
        background-color: #FFFFFF;
    }
}

#objectives-table th button {
    color: #4175B3 !important;
    font-weight: bold !important;
    /* font-size: 16px !important; */
}
